webapps/ClouddataWebservice/WebRoot/WEB-INF/wsdl/SearchqueryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logic.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchqueryService" targetNamespace="http://logic.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://logic.com/" schemaLocation="SearchqueryService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="genQuery">
    <part element="tns:genQuery" name="parameters"/>
  </message>
  <message name="genQueryResponse">
    <part element="tns:genQueryResponse" name="parameters"/>
  </message>
  <message name="bubble_srt">
    <part element="tns:bubble_srt" name="parameters"/>
  </message>
  <message name="bubble_srtResponse">
    <part element="tns:bubble_srtResponse" name="parameters"/>
  </message>
  <message name="genQueryView">
    <part element="tns:genQueryView" name="parameters"/>
  </message>
  <message name="genQueryViewResponse">
    <part element="tns:genQueryViewResponse" name="parameters"/>
  </message>
  <portType name="SearchqueryDelegate">
    <operation name="genQuery">
      <input message="tns:genQuery"/>
      <output message="tns:genQueryResponse"/>
    </operation>
    <operation name="bubble_srt">
      <input message="tns:bubble_srt"/>
      <output message="tns:bubble_srtResponse"/>
    </operation>
    <operation name="genQueryView">
      <input message="tns:genQueryView"/>
      <output message="tns:genQueryViewResponse"/>
    </operation>
  </portType>
  <binding name="SearchqueryPortBinding" type="tns:SearchqueryDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="genQuery">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bubble_srt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="genQueryView">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SearchqueryService">
    <port binding="tns:SearchqueryPortBinding" name="SearchqueryPort">
      <soap:address location="http://localhost:9999/ClouddataWebservice/SearchqueryPort"/>
    </port>
  </service>
</definitions>
