webapps/ClouddataWebservice/WEB-INF/wsdl/RegisterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logic.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegisterService" targetNamespace="http://logic.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://logic.com/" schemaLocation="RegisterService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="register">
    <part element="tns:register" name="parameters"/>
  </message>
  <message name="registerResponse">
    <part element="tns:registerResponse" name="parameters"/>
  </message>
  <message name="login">
    <part element="tns:login" name="parameters"/>
  </message>
  <message name="loginResponse">
    <part element="tns:loginResponse" name="parameters"/>
  </message>
  <message name="Userregister">
    <part element="tns:Userregister" name="parameters"/>
  </message>
  <message name="UserregisterResponse">
    <part element="tns:UserregisterResponse" name="parameters"/>
  </message>
  <message name="ownerlogin">
    <part element="tns:ownerlogin" name="parameters"/>
  </message>
  <message name="ownerloginResponse">
    <part element="tns:ownerloginResponse" name="parameters"/>
  </message>
  <portType name="RegisterDelegate">
    <operation name="register">
      <input message="tns:register"/>
      <output message="tns:registerResponse"/>
    </operation>
    <operation name="login">
      <input message="tns:login"/>
      <output message="tns:loginResponse"/>
    </operation>
    <operation name="Userregister">
      <input message="tns:Userregister"/>
      <output message="tns:UserregisterResponse"/>
    </operation>
    <operation name="ownerlogin">
      <input message="tns:ownerlogin"/>
      <output message="tns:ownerloginResponse"/>
    </operation>
  </portType>
  <binding name="RegisterPortBinding" type="tns:RegisterDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Userregister">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ownerlogin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RegisterService">
    <port binding="tns:RegisterPortBinding" name="RegisterPort">
      <soap:address location="http://localhost:9999/ClouddataWebservice/RegisterPort"/>
    </port>
  </service>
</definitions>
